#current-date {
  text-align: right;
  margin-top: 1.9466666667rem;
  font-weight: 900;
  color: #1de9b6;
}
#nav-banner {
  font-weight: 900;
  color: black;
  font-size: 60px;
}

#nav-mobile {
    font-weight: 900;
}

#firstBanner {
    margin: 0;
}

#firstImage {
    height: 700px;
    background-image: url(../Home/image/welcomeBan.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Shoppr-image {
    width: 300px; /* width of container */
    height: 100px; /* height of container */
    object-fit: cover;
    object-position:  -20px ;  
}


#firstBanText {
    font-weight: 900;
    margin: 0;
}

#portfolioBan {
    background-image: url(../Home/image/PortfolioBan.jpg);
    background-position: center;
    background-size: cover;
    height: 286px;
}

#portfolioRow {
    margin: 0;
    height: 286px;
}

#portfolioLinks{
    height: 286px;
}

.Bold {
    font-weight: 900;
}

#exploreTag {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 120px;
    
}

#contactRow {
    margin: 0;
}

#contactBanner {
    background-image: url(../Home/image/contactBanner.jpg);
    background-position: center;
    background-size: cover;
    height: 286px;
}

#aboutRow {
    margin: 0;
    height: 286px;
}

#aboutBanner {
    background-image: url(../Home/image/aboutBanner.jpg);
    background-position: center;
    background-size: cover;
    height: 286px;
}

#uniBanner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url(../Home/image/koi.gif) ;
}

#peaceText {
    margin: 0;
}

#content-div {
    margin-top: 200px;
}
#period {
    font-weight: 900;
    animation: color-change 1s infinite;
}


@keyframes color-change {
    0% { color: #4285F4; }
    25% { color:#DB4437; }
    50% { color: #F4B400; }
    75% { color: #0F9D58; }
    100% { color: #4285F4; }
  }