#contact-nav {
    font-weight: 900;
    color: black;
    font-size: 60px;
}

#instagram {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url(../Contact/images//contact1.gif) ;
}

#github {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url(../Contact/images/2fd522ba5ca93afdc3ef65193422f377.gif) ;
}

#linkedIn {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url(../Contact/images/db4d71776f520fac4a00d0fb20cb518c.gif) ;
}

